
@model LudoGame.Models.Game

@helper PlayerBrickHelper(List<GameEngine.GamePlayer> players, string color, int num)
    {
        foreach (GameEngine.GamePlayer player in players)
        {
            if (player.One.Position == 0 && player.Color == color && num == 1)
            {
                if (color == "Red")
                {
                    <div class="brick player1" id="PieceOne">1</div>
                }
                if (color == "Green")
                {
                    <div class="brick player2" id="PieceOne">1</div>
                }
                if (color == "Yellow")
                {
                    <div class="brick player3" id="PieceOne">1</div>
                }
                if (color == "Blue")
                {
                    <div class="brick player4" id="PieceOne">1</div>
                }
            }
            else if (player.Two.Position == 0 && player.Color == color && num == 2)
            {
                if (color == "Red")
                {
                    <div class="brick player1" id="PieceTwo">2</div>
                }
                if (color == "Green")
                {
                    <div class="brick player2" id="PieceTwo">2</div>
                }
                if (color == "Yellow")
                {
                    <div class="brick player3" id="PieceTwo">2</div>
                }
                if (color == "Blue")
                {
                    <div class="brick player4" id="PieceTwo">2</div>
                }
            }
            else if (player.Three.Position == 0 && player.Color == color && num == 3)
            {
                if (color == "Red")
                {
                    <div class="brick player1" id="PieceThree">3</div>
                }
                if (color == "Green")
                {
                    <div class="brick player2" id="PieceThree">3</div>
                }
                if (color == "Yellow")
                {
                    <div class="brick player3" id="PieceThree">3</div>
                }
                if (color == "Blue")
                {
                    <div class="brick player4" id="PieceThree">3</div>
                }
            }
            else if (player.Four.Position == 0 && player.Color == color && num == 4)
            {
                if (color == "Red")
                {
                    <div class="brick player1" id="PieceFour">4</div>
                }
                if (color == "Green")
                {
                    <div class="brick player2" id="PieceFour">4</div>
                }
                if (color == "Yellow")
                {
                    <div class="brick player3" id="PieceFour">4</div>
                }
                if (color == "Blue")
                {
                    <div class="brick player4" id="PieceFour">4</div>
                }
            }
        }
}
@helper BrickHelper(List<GameEngine.GamePlayer> players, int position)
    {
        foreach (GameEngine.GamePlayer player in players)
        {
            if (player.One.Position == position)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceOne">1</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceOne">1</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceOne">1</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceOne">1</div>
                }
            }
            else if (player.Two.Position == position)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceTwo">2</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceTwo">2</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceTwo">2</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceTwo">2</div>
                }
            }
            else if (player.Three.Position == position)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceThree">3</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceThree">3</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceThree">3</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceThree">3</div>
                }
            }
            else if (player.Four.Position == position)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceFour">4</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceFour">4</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceFour">4</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceFour">4</div>
                }
            }
        }
}

@helper BrickColorHelper(List<GameEngine.GamePlayer> players, int position, string color)
    {
        foreach (GameEngine.GamePlayer player in players)
        {
            if (player.One.Position == position && player.Color == color)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceOne">1</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceOne">1</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceOne">1</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceOne">1</div>
                }
            }
            else if (player.Two.Position == position && player.Color == color)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceTwo">2</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceTwo">2</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceTwo">2</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceTwo">2</div>
                }
            }
            else if (player.Three.Position == position && player.Color == color)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceThree">3</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceThree">3</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceThree">3</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceThree">3</div>
                }
            }
            else if (player.Four.Position == position && player.Color == color)
            {
                if(player.Color == "Red")
                {
                    <div class="brick player1" id="PieceFour">4</div>
                }
                if(player.Color == "Green")
                {
                    <div class="brick player2" id="PieceFour">4</div>
                }
                if(player.Color == "Yellow")
                {
                    <div class="brick player3" id="PieceFour">4</div>
                }
                if(player.Color == "Blue")
                {
                    <div class="brick player4" id="PieceFour">4</div>
                }
            }
        }
}

<div class="board">
    <div class="wing" id="leftWing">
        <div class="field" id="52">@BrickHelper(Model.Players, 52)</div>
        <div class="field player2" id="1">@BrickHelper(Model.Players, 1)</div>
        <div class="field" id="2">@BrickHelper(Model.Players, 2)</div>
        <div class="field" id="3">@BrickHelper(Model.Players, 3)</div>
        <div class="field" id="4">@BrickHelper(Model.Players, 4)</div>
        <div class="field" id="5">@BrickHelper(Model.Players, 5)</div>
        <div class="field" id="51">@BrickHelper(Model.Players, 51)</div>
        <div class="field player2" id="53G">@BrickColorHelper(Model.Players, 53, "Green")</div>
        <div class="field player2" id="54G">@BrickColorHelper(Model.Players, 54, "Green")</div>
        <div class="field player2" id="55G">@BrickColorHelper(Model.Players, 55, "Green")</div>
        <div class="field player2" id="56G">@BrickColorHelper(Model.Players, 56, "Green")</div>
        <div class="field player2" id="57G">@BrickColorHelper(Model.Players, 57, "Green")</div>
        <div class="field" id="50">@BrickHelper(Model.Players, 50)</div>
        <div class="field" id="49">@BrickHelper(Model.Players, 49)</div>
        <div class="field" id="48">@BrickHelper(Model.Players, 48)</div>
        <div class="field" id="47">@BrickHelper(Model.Players, 47)</div>
        <div class="field" id="46">@BrickHelper(Model.Players, 46)</div>
        <div class="field" id="45">@BrickHelper(Model.Players, 45)</div>
    </div>
    <div class="wing" id="rightWing">
        <div class="field" id="26">@BrickHelper(Model.Players, 26)</div>
        <div class="field player3" id="27">@BrickHelper(Model.Players, 27)</div>
        <div class="field" id="28">@BrickHelper(Model.Players, 28)</div>
        <div class="field" id="29">@BrickHelper(Model.Players, 29)</div>
        <div class="field" id="30">@BrickHelper(Model.Players, 30)</div>
        <div class="field" id="31">@BrickHelper(Model.Players, 31)</div>
        <div class="field" id="25">@BrickHelper(Model.Players, 25)</div>
        <div class="field player3" id="53Y">@BrickColorHelper(Model.Players, 53, "Yellow")</div>
        <div class="field player3" id="54Y">@BrickColorHelper(Model.Players, 54, "Yellow")</div>
        <div class="field player3" id="55Y">@BrickColorHelper(Model.Players, 55, "Yellow")</div>
        <div class="field player3" id="56Y">@BrickColorHelper(Model.Players, 56, "Yellow")</div>
        <div class="field player3" id="57Y">@BrickColorHelper(Model.Players, 57, "Yellow")</div>
        <div class="field" id="24">@BrickHelper(Model.Players, 24)</div>
        <div class="field" id="23">@BrickHelper(Model.Players, 23)</div>
        <div class="field" id="22">@BrickHelper(Model.Players, 22)</div>
        <div class="field" id="21">@BrickHelper(Model.Players, 21)</div>
        <div class="field" id="20">@BrickHelper(Model.Players, 20)</div>
        <div class="field" id="19">@BrickHelper(Model.Players, 19)</div>
    </div>
    <div class="wing" id="topWing">
        <div class="field" id="13">@BrickHelper(Model.Players, 13)</div>
        <div class="field player4" id="14">@BrickHelper(Model.Players, 14)</div>
        <div class="field" id="15">@BrickHelper(Model.Players, 15)</div>
        <div class="field" id="16">@BrickHelper(Model.Players, 16)</div>
        <div class="field" id="17">@BrickHelper(Model.Players, 17)</div>
        <div class="field" id="18">@BrickHelper(Model.Players, 18)</div>
        <div class="field" id="12">@BrickHelper(Model.Players, 12)</div>
        <div class="field player4" id="53B">@BrickColorHelper(Model.Players, 53, "Blue")</div>
        <div class="field player4" id="54B">@BrickColorHelper(Model.Players, 53, "Blue")</div>
        <div class="field player4" id="55B">@BrickColorHelper(Model.Players, 53, "Blue")</div>
        <div class="field player4" id="56B">@BrickColorHelper(Model.Players, 53, "Blue")</div>
        <div class="field player4" id="57B">@BrickColorHelper(Model.Players, 57, "Blue")</div>
        <div class="field" id="11">@BrickHelper(Model.Players, 11)</div>
        <div class="field" id="10">@BrickHelper(Model.Players, 10)</div>
        <div class="field" id="9">@BrickHelper(Model.Players, 9)</div>
        <div class="field" id="8">@BrickHelper(Model.Players, 8)</div>
        <div class="field" id="7">@BrickHelper(Model.Players, 7)</div>
        <div class="field" id="6">@BrickHelper(Model.Players, 6)</div>
    </div>
    <div class="wing" id="bottomWing">
        <div class="field" id="39">@BrickHelper(Model.Players, 39)</div>
        <div class="field player1" id="40">@BrickHelper(Model.Players, 40)</div>
        <div class="field" id="41">@BrickHelper(Model.Players, 41)</div>
        <div class="field" id="42">@BrickHelper(Model.Players, 42)</div>
        <div class="field" id="43">@BrickHelper(Model.Players, 43)</div>
        <div class="field" id="44">@BrickHelper(Model.Players, 44)</div>
        <div class="field" id="38">@BrickHelper(Model.Players, 38)</div>
        <div class="field player1" id="53R">@BrickColorHelper(Model.Players, 53, "Red")</div>
        <div class="field player1" id="54R">@BrickColorHelper(Model.Players, 54, "Red")</div>
        <div class="field player1" id="55R">@BrickColorHelper(Model.Players, 55, "Red")</div>
        <div class="field player1" id="56R">@BrickColorHelper(Model.Players, 56, "Red")</div>
        <div class="field player1" id="57R">@BrickColorHelper(Model.Players, 57, "Red")</div>
        <div class="field" id="37">@BrickHelper(Model.Players, 37)</div>
        <div class="field" id="36">@BrickHelper(Model.Players, 36)</div>
        <div class="field" id="35">@BrickHelper(Model.Players, 35)</div>
        <div class="field" id="34">@BrickHelper(Model.Players, 34)</div>
        <div class="field" id="33">@BrickHelper(Model.Players, 33)</div>
        <div class="field" id="32">@BrickHelper(Model.Players, 32)</div>
    </div>
    <div class="goal"></div>
    <div class="start player1">
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Red", 1)
            @*<div class="brick player1" id="GamePieceOne"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Red", 2)
            @*<div class="brick player1" id="GamePieceTwo"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Red", 3)
            @*<div class="brick player1" id="GamePieceThree"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Red", 4)
            @*<div class="brick player1" id="GamePieceFour"></div>*@
        </div>
    </div>
    <div class="start player2">
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Green", 1)
            @*<div class="brick player2" id="GamePieceOne"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Green", 2)
            @*<div class="brick player2" id="GamePieceTwo"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Green", 3)
            @*<div class="brick player2" id="GamePieceThree"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Green", 4)
            @*<div class="brick player2" id="GamePieceFour"></div>*@
        </div>
    </div>
    <div class="start player3">
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Yellow", 1)
            @*<div class="brick player3" id="GamePieceOne"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Yellow", 2)
            @*<div class="brick player3" id="GamePieceTwo"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Yellow", 3)
            @*<div class="brick player3" id="GamePieceThree"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Yellow", 4)
            @*<div class="brick player3" id="GamePieceFour"></div>*@
        </div>
    </div>
    <div class="start player4">
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Blue", 1)
            @*<div class="brick player4" id="GamePieceOne"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Blue", 2)
            @*<div class="brick player4" id="GamePieceTwo"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Blue", 3)
            @*<div class="brick player4" id="GamePieceThree"></div>*@
        </div>
        <div class="field">
            @PlayerBrickHelper(Model.Players, "Blue", 4)
            @*<div class="brick player4" id="GamePieceFour"></div>*@
        </div>
    </div>
</div>
