@model LudoGame.Models.Players
@{
    ViewBag.Title = "StartPage";
}

<div style="background-image: url(../../Content/colored-ludo-dice-wallpaper-1920x1080.jpg); height: 1080px; width: 1920px; border: 1px solid black;">
    <h1 style="font-size: 2em;">Welcome to KJJ:s Ludo Game!!</h1>
    <br />
    <p style="font-size: 1em;"> Winner winner chicken dinner! </p>
    <br />

    @using (Html.BeginForm())
     {
        <div>
            @Html.Label("Select a new game:")
            @Html.CheckBox("SelectLabel", false)
            <br />
            @Html.Label("Join existing game:")
            @Html.CheckBox("JoinLabel", false)
            <br />
            <input type="text" name="Enter Information Here"/>
            <input type="submit" name="submit"/>

        </div>
            <br />
            <h2> @Html.ActionLink("Go to LudoGame", "Index")</h2>
            <br />

            <h3>HEJ!!!!!!!!!!!!!!!!!!!!!!!</h3>
     }
</div>